{% extends "template.html" %}
{% block title %}
    Dictionary add
{% endblock %}

{% block body %}
    <h1>Dictionary</h1>
    <div style="max-height: 300px; overflow-y: scroll">
        <table class="table table-sm">
            <thead>
            <tr>
                <td>Word</td>
                <td>Type</td>
                <td>Delete</td>
            </tr>
            </thead>
            <tbody>
            {% for d in dict %}
                <tr>
                    <td>{{ d["word"] }}</td>
                    {% if d["is_positive"] == 1 %}
                        <td style="color: lightgreen;">Positive</td>
                    {% else %}
                        <td style="color:lightcoral">Negative</td>
                    {% endif %}
                    <td>
                        <form action="/delete" method="POST">
                            <input type="hidden" name="id" value="{{ d['id'] }}">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="margin:40px;">
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">File</label>
                <input type="file" name="file" id="file">
            </div>
            <div class="form-group">
                <label for="positive">Positive</label>
                <input type="radio" name="type" value="positive" id="positive">
            </div>
            <div class="form-group">
                <label for="negative">Negative</label>
                <input type="radio" name="type" value="negative" id="negative">
            </div>
            <button class="btn btn-primary">Submit file</button>
        </form>
    </div>

    <div style="margin-top:50px">
        <h1>Current STATUS :
            {% if status == 'parsing' %}
                <span style="color:lightcoral">Parsing</span>
            {% else %}
                <span style="color:lightgreen">Not Parsing</span>
                <form action="/reparse" method="POST">
                    <button class="btn btn-danger">Reparse</button>
                </form>
            {% endif %}
        </h1>
    </div>


    {% if percents %}
        <h3>{{ "%.1f"|format(percents["min"]*100) }}% - {{ "%.1f"|format(percents["max"]*100) }}%</h3>
        <table class="table table-responsive table-sm table-striped">
            <thead>
            <tr>
                <td>Ticker</td>
                <td>True</td>
                <td>False</td>
                <td>Percent</td>
            </tr>
            </thead>
            <tbody>
            {% for p in percents["values"] %}
                <tr>
                    <td>{{ p["ticker"] }}</td>
                    <td>{{ p["true"] }}</td>
                    <td>{{ p["false"] }}</td>
                    <td title="{{ p['percent']*100 }}">{{ "%.1f"|format(p["percent"]*100) }}%</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}