{% extends "template.html" %}
{% block title %}
    Dictionary
{% endblock %}

{% block body %}
    <div>
        <h1>Dictionary</h1>
        <div id="code_enter">
            <input type="text" name="code" id="code" placeholder="Code">
            <br><br>
        </div>
        <div style="max-height: 300px; overflow-y: scroll">
            <table class="table table-sm">
                <thead>
                <tr>
                    <td>Word</td>
                    <td>Type</td>
                    <td>Delete</td>
                </tr>
                </thead>
                <tbody>
                {% for w in words %}
                    <tr>
                        <td>{{ w.word }}</td>
                        {% if w.is_positive == 1 %}
                            <td style="color: lightgreen;">Positive</td>
                        {% else %}
                            <td style="color:lightcoral">Negative</td>
                        {% endif %}
                        <td>
                            <form action="/delete" method="POST">
                                <input type="hidden" name="id" value="{{ w.id }}">
                                <input type="hidden" name="code">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div style="margin:40px;">
            <form method="POST" action="/add_words" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="positive">Positive</label>
                    <input type="radio" name="type" value="positive" id="positive" checked>
                </div>
                <div class="form-group">
                    <label for="negative">Negative</label>
                    <input type="radio" name="type" value="negative" id="negative">
                </div>
                <div class="form-group">
                    <label for="file">Text file</label>
                    <input type="file" name="file" id="file">
                </div>
                <h1>OR</h1>
                <textarea name="text" id="text" cols="30" rows="2"
                          placeholder="Enter separated words or phrases"></textarea>
                <br>
                <h1>OR</h1>
                <input type="text" name="single_word" placeholder="Single word or phrase">
                <br>
                <br>
                <input type="hidden" name="code">
                <button class="btn btn-primary">Submit file</button>
            </form>
        </div>
    </div>
    <script>
        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            document.cookie = name + '=; Max-Age=-99999999;';
        }

        let textarea = document.getElementById("text");
        textarea.oninput = function () {
            textarea.style.height = ""; /* Reset the height*/
            textarea.style.height = textarea.scrollHeight + "px";
        };
        let code_input = document.getElementById("code");
        let code = 0;
        code_input.addEventListener("change", function (e) {
            setCookie("code", code_input.value, 7)
            let codes = document.getElementsByName("code");
            codes.forEach(function (item) {
                item.value = getCookie("code")
            });
        });
        if (getCookie("code") != null) {
            document.getElementById("code_enter").style.display = "none"
            let codes = document.getElementsByName("code");
            codes.forEach(function (item) {
                item.value = getCookie("code")
            });
        }
    </script>
{% endblock %}