{% extends "template.html" %}
{% block title %}
    News
{% endblock %}
{% block body %}
    <div style="display: flex; justify-content: start">
        {% if page >= 10 %}
            <a style="margin-right:20px" href="/news/{{ page - 10 }}">Prev 10</a>
        {% endif %}
        {% if page > 0 %}
            <a style="margin-right:20px" href="/news/{{ page - 1 }}">Prev</a>
        {% endif %}
        <h4 style="margin-right:20px">Page # {{ page + 1 }}</h4>
        <a style="margin-right:20px" href="/news/{{ page + 1 }}">Next</a>
        <a href="/news/{{ page + 10 }}">Next 10</a>
    </div>
    <a href="/history">News History</a>
    <h1>News:</h1>
    {% for n in news %}
        <div style="margin-bottom: 20px; border-bottom: 1px solid lightblue">
            <a href='/news_single/{{ n.id }}'><h2>News # {{ n.id }} </h2></a>
            <a href="/company/{{ n.company.id }}"><h5>{{ n.company.name }}</h5></a>
            {% if n.time %}
                <h5>News time: {{ n.time }} UTC</h5>
                <p><a href="{{ n.link }}">Link</a> {{ "%.2f"|format(n.sent_score) }} {{ n.word_count }}words</p>
                <p>{{ n.body }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <div style="display: flex; justify-content: start">
        {% if page >= 10 %}
            <a style="margin-right:20px" href="/news/{{ page - 10 }}">Prev 10</a>
        {% endif %}
        {% if page > 0 %}
            <a style="margin-right:20px" href="/news/{{ page - 1 }}">Prev</a>
        {% endif %}
        <h4 style="margin-right:20px">Page # {{ page + 1 }}</h4>
        <a style="margin-right:20px" href="/news/{{ page + 1 }}">Next</a>
        <a href="/news/{{ page + 10 }}">Next 10</a>
    </div>
{% endblock %}
