{% extends "template.html" %}
{% block title %}
    News history
{% endblock %}
{% block body %}
    <div style="display: flex; justify-content: start">
        {% if page >= 10 %}
            <a style="margin-right:20px" href="/history/{{ page - 10 }}">Prev 10</a>
        {% endif %}
        {% if page > 0 %}
            <a style="margin-right:20px" href="/history/{{ page - 1 }}">Prev</a>
        {% endif %}
        <h4 style="margin-right:20px">Page # {{ page + 1 }}</h4>
        <a style="margin-right:20px" href="/history/{{ page + 1 }}">Next</a>
        <a href="/history/{{ page + 10 }}">Next 10</a>
    </div>
    <h2>News history</h2>
    {% for n in news %}
        <div style="margin-bottom: 20px; border-bottom: 1px solid lightblue">
            <h4>News # {{ n["id"] }}</h4>
            {% if n["title"] !="0" %}
                <h3>Title: <b>{{ n["title"] }}</b></h3>
            {% endif %}
            <h5>{{ n["companies"] }}</h5>
            {% if n["date"] %}
                <p>{{ n["date"] }} UTC</p>
                <p><a href="{{ n['url'] }}">Link</a> {{ "%.2f"|format(n['sent_score']) }} {{ n['word_count'] }} words
                </p>
                <p>{{ n["text"] }}</p>
            {% endif %}
            {% if n["parsed_sentence"] %}
                <p>
                    Parsed view: {{ n["parsed_sentence"] }}
                </p>
            {% endif %}
        </div>
        {% if n["words"] %}
            <div style="margin-bottom: 20px; border-bottom: 1px solid lightblue">
                <h3>Words:</h3>
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <td>Word</td>
                        <td>Score</td>
                        <td>Count</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for w in n["words"] %}
                        <tr>
                            <td>{{ w["word"] }}</td>
                            <td>{{ w["score"] }}</td>
                            <td>{{ w["count"] }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endfor %}
    <div style="display: flex; justify-content: start">
        {% if page >= 10 %}
            <a style="margin-right:20px" href="/history/{{ page - 10 }}">Prev 10</a>
        {% endif %}
        {% if page > 0 %}
            <a style="margin-right:20px" href="/history/{{ page - 1 }}">Prev</a>
        {% endif %}
        <h4 style="margin-right:20px">Page # {{ page + 1 }}</h4>
        <a style="margin-right:20px" href="/history/{{ page + 1 }}">Next</a>
        <a href="/history/{{ page + 10 }}">Next 10</a>
    </div>
{% endblock %}
