<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="https://economics.maxifom.com/">
    <title>Economical statistics | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap_cleaned.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700|PT+Sans:400,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <style>
        html, body {
            font-family: 'Nunito', 'PT Sans', sans-serif;
            font-weight: 400;
        }

        h1, h2, thead {
            font-weight: 700;
        }

        a.nav-link:hover, .current {
            background: deepskyblue;
            color: white !important;
        }
    </style>
    {% block head %}

    {% endblock %}
</head>
<body>

<ul class="nav justify-content-center" style="border-bottom: 1px solid lightblue">
    <li class="nav-item">
        <div style="display: inline-block;margin-top: 5px; ">
            <a class="" href="/"
               style="display: inline; vertical-align: center;"><img style="max-width: 32px;max-height:32px"
                                                                     src="/ds.png"
                                                                     alt="Data Science">
            </a>
            {#<a class="nav-link" href="/"
               style="display: inline; vertical-align: center;">ES</a>#}
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/companies">Companies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/news">News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/history">History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/visualization">Visualization</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/predictions">Predictions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/dict">Dict</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/methodology">Methodology</a>
    </li>
</ul>

<div class="container">
    {% block body %}
    {% endblock %}
</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js');
        });
    }
</script>
<script>
    $(document).ready(function () {
        let path = window.location.pathname.split("/")[1];
        if (path === "company" || path == "") {
            path = "companies"
        } else if (path === "news_single") {
            path = "news"
        }
        const element = $("a[href='/" + path + "']")[0];
        $(element).addClass("current");
    });
</script>
{% block scripts %}

{% endblock %}
</body>
</html>