{% extends "template.html" %}
{% block title %}
    Dictionary and word cloud
{% endblock %}
{% block scripts %}

    <script src="/js/plotly-finance.js"></script>
    <script>
        function drawGraph(csv, name, width, height, labels, vline) {
            labels = labels.split(",");
            console.log(labels);
            Plotly.d3.csv(csv, function (err, rows) {
                var max = 0.0;
                var min = 1e9;

                function unpack(rows, key) {
                    return rows.map(function (row) {
                        max = Math.max(max, row[labels[0]]);
                        min = Math.min(min, row[labels[0]]);
                        return row[key];
                    });
                }

                const colors = [
                    "#2e16b1",
                    "#34d800",
                    "#F30021"
                ];
                let data = [];
                for (let i in labels) {
                    let l = labels[i];
                    let trace = {
                        type: "scatter",
                        mode: "lines",
                        name: l,
                        x: unpack(rows, 'date'),
                        y: unpack(rows, l),
                        line: {color: colors[i]}
                    };
                    data.push(trace);
                }
                let shapes = [];
                if (vline === true) {
                    const x = Math.round(rows.length * 0.8);
                    shapes.push({
                        type: 'line',
                        x0: rows[x]["date"],
                        x1: rows[x]["date"],
                        y0: min,
                        y1: max,
                        line: {
                            color: "black",
                            width: 1
                        }
                    });
                }
                let layout = {
                    autosize: false,
                    width: width,
                    height: height,
                    title: name,
                    shapes: shapes,
                };
                Plotly.newPlot('graph', data, layout);
            })
        }

        $(".graph-button").click(function (e) {
            $("#graph").show();
            let width = $("#graph").width();
            let height = $("#graph").height();
            let name = e.target.getAttribute("name");
            let labels = e.target.getAttribute("labels");
            let vline = e.target.getAttribute("vline");
            if (vline === "true") {
                vline = true
            } else {
                vline = false;
            }
            drawGraph(e.target.getAttribute("href"), name, width, height, labels, vline)
        });

        function closeGraph() {
            $("#graph").hide();
        }
    </script>
{% endblock %}
{% block body %}
    <style>
        button {
            border: 0;
        }
    </style>
    <div style="width: 80%; height: 80%;position: fixed; top: 10%; left: 10%; display: none"
         id="graph">
        <button onclick="closeGraph()" style="position: absolute; right: 10px; top:0">Close</button>
    </div>
    <div>
        <h3>Linreg Model trained on data from Jan 1 2016 to Apr 3 2019:</h3>
        <table class="table table-responsive table-striped table-sm">
            <thead>
            <tr>
                <th>Company</th>
                <th>Train accuracy</th>
                <th>Test accuracy</th>
                <th>Train value loss (%)*</th>
                <th>Test value loss (%)*</th>
                <th>Price Graph</th>
                <th>Acc Graph</th>
                <th>Val loss Graphs (%)</th>
            </tr>
            </thead>
            <tfoot>
            <th>* - Percent from mean close price</th>
            </tfoot>
            <tbody>
            {% for c in companies %}
                <tr>
                    <td>{{ c.name }}</td>
                    <td title="{{ c.linear_model.train_acc }}">{{ "%.2f" | format(c.linear_model.train_acc*100) }}%</td>
                    <td title="{{ c.linear_model.test_acc }}">{{ "%.2f" | format(c.linear_model.test_acc*100) }}%</td>
                    <td title="{{ c.linear_model.train_val_loss }}({{ c.linear_model.train_val_loss_percent }})">{{ "%.4f"|format(c.linear_model.train_val_loss) }}({{ "%.2f"|format(c.linear_model.train_val_loss_percent*100) }}%)</td>
                    <td title="{{ c.linear_model.test_val_loss }}({{ c.linear_model.test_val_loss_percent }})">{{ "%.4f"|format(c.linear_model.test_val_loss) }}({{ "%.2f"|format(c.linear_model.test_val_loss_percent*100) }}%)
                    </td>
                    <td>
                        <button name="{{ c.name }} Price" vline="true" labels="next_close,prediction"
                                class="graph-button"
                                href="/csv/linreg/price_{{ c.ticker }}.csv">Graph
                        </button>
                    </td>
                    <td>
                        <button name="{{ c.name }} Accuracy" vline="true" labels="acc" class="graph-button"
                                href="/csv/linreg/acc_{{ c.ticker }}.csv">Graph
                        </button>
                    </td>
                    <td>
                        <button name="{{ c.name }} Value Loss" vline="true" labels="val_loss" class="graph-button"
                                href="/csv/linreg/val_loss_{{ c.ticker }}.csv">Graph
                        </button>
                        <button name="{{ c.name }} Value Loss %" vline="true" labels="val_loss_pct" class="graph-button"
                                href="/csv/linreg/val_loss_pct_{{ c.ticker }}.csv">(%)
                        </button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>Means</td>
                <td title="{{ means["linreg"]["train_acc"] }}">{{ "%.2f" | format(means["linreg"]["train_acc"]*100) }}%</td>
                <td title="{{ means["linreg"]["test_acc"] }}">{{ "%.2f" | format(means["linreg"]["test_acc"]*100) }}%</td>
                <td title="{{ means["linreg"]["train_val_loss"] }}({{ means["linreg"]["train_val_loss_percent"] }})">{{ "%.4f"|format(means["linreg"]["train_val_loss"]) }}({{ "%.2f"|format(means["linreg"]["train_val_loss_percent"]*100) }}%)</td>
                <td title="{{ means["linreg"]["test_val_loss"] }}({{ means["linreg"]["test_val_loss_percent"] }})">{{ "%.4f"|format(means["linreg"]["test_val_loss"]) }}({{ "%.2f"|format(means["linreg"]["test_val_loss_percent"]*100) }}%)
                </td>
                <td>
                    <button disabled>Graph</button>
                </td>
                <td>
                    <button name="All Accuracy" labels="{{ companies_str }}" class="graph-button"
                            href="/csv/linreg/all_acc.csv">Graph
                    </button>
                </td>
                <td>
                    <button disabled>Graph</button>
                    <button name="All Value Loss %" labels="{{ companies_str }}" class="graph-button"
                            href="/csv/linreg/all_val_loss_pct.csv">(%)
                    </button>
                </td>
            </tr>

            </tbody>

        </table>

        <h3>ARIMA Model trained on data from Jan 1 2016 to Apr 3 2019:</h3>
        <table class="table table-responsive table-striped table-sm">
            <thead>
            <tr>
                <th>Company</th>
                <th>Test accuracy</th>
                <th>Test value loss (%)*</th>
                <th>Price Graph</th>
                <th>Acc Graph</th>
                <th>Val loss Graphs (%)</th>
            </tr>
            </thead>
            <tfoot>
            <th>* - Percent from mean close price</th>
            </tfoot>
            <tbody>
            {% for c in companies %}
                <tr>
                    <td>{{ c.name }}</td>
                    <td title="{{ c.arima_model.test_acc }}">{{ "%.2f" | format(c.arima_model.test_acc*100) }}%</td>
                    <td title="{{ c.arima_model.test_val_loss }}({{ c.arima_model.test_val_loss_percent }})">{{ "%.4f"|format(c.arima_model.test_val_loss) }}({{ "%.2f"|format(c.arima_model.test_val_loss_percent*100) }}%)
                    </td>
                    <td>
                        <button name="{{ c.name }} Price" labels="close,prediction" class="graph-button"
                                href="/csv/arima/price_{{ c.ticker }}.csv">Graph
                        </button>
                    </td>
                    <td>
                        <button name="{{ c.name }} Accuracy" labels="acc" class="graph-button"
                                href="/csv/arima/acc_{{ c.ticker }}.csv">Graph
                        </button>
                    </td>
                    <td>
                        <button name="{{ c.name }} Value Loss" labels="val_loss" class="graph-button"
                                href="/csv/arima/val_loss_{{ c.ticker }}.csv">Graph
                        </button>
                        <button name="{{ c.name }} Value Loss %" labels="val_loss_pct" class="graph-button"
                                href="/csv/arima/val_loss_pct_{{ c.ticker }}.csv">(%)
                        </button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>Means</td>
                <td title="{{ means["arima"]["test_acc"] }}">{{ "%.2f" | format(means["arima"]["test_acc"]*100) }}%</td>
                <td title="{{ means["arima"]["test_val_loss"] }}({{ means["arima"]["test_val_loss_percent"] }})">{{ "%.4f"|format(means["arima"]["test_val_loss"]) }}({{ "%.2f"|format(means["arima"]["test_val_loss_percent"]*100) }}%)
                </td>
                <td>
                    <button disabled>Graph</button>
                </td>
                <td>
                    <button name="All Accuracy" labels="{{ companies_str }}" class="graph-button"
                            href="/csv/arima/all_acc.csv">Graph
                    </button>
                </td>
                <td>
                    <button disabled>Graph</button>
                    <button name="All Value Loss %" labels="{{ companies_str }}" class="graph-button"
                            href="/csv/arima/all_val_loss_pct.csv">(%)
                    </button>
                </td>
            </tr>
            </tbody>

        </table>

        <h3>Comaprison of 2 models ( Linreg - ARIMA )</h3>
        <table class="table table-responsive table-striped table-sm">
            <thead>
            <tr>
                <th>Company</th>
                <th>Test accuracy</th>
                <th>Test value loss (%)*</th>
                <th>Price Graph</th>
                <th>Acc Graph</th>
                <th>Val loss Graphs (%)</th>
            </tr>
            </thead>
            <tfoot>
            <th>* - Percent from mean close price</th>
            </tfoot>
            <tbody>
            {% for c in companies %}
                <tr>
                    <td>{{ c.name }}</td>
                    <td title="{{ c.linear_model.test_acc-c.arima_model.test_acc }}">
                        {{ "%.2f" | format(c.linear_model.test_acc*100-c.arima_model.test_acc*100) }}%
                    </td>
                    <td title="{{ c.linear_model.test_val_loss-c.arima_model.test_val_loss }}({{ c.linear_model.test_val_loss_percent-c.arima_model.test_val_loss_percent }})">
                        {{ "%.4f"|format(c.linear_model.test_val_loss-c.arima_model.test_val_loss) }}({{ "%.2f"|format(c.linear_model.test_val_loss_percent*100-c.arima_model.test_val_loss_percent*100) }}%)
                    </td>
                    <td>
                        <button name="{{ c.name }} Price" labels="arima,linreg,actual" class="graph-button"
                                href="/csv/comparison/price_{{ c.ticker }}.csv">Graph
                        </button>
                    </td>
                    <td>
                        <button name="{{ c.name }} Accuracy" labels="arima,linreg" class="graph-button"
                                href="/csv/comparison/acc_{{ c.ticker }}.csv">Graph
                        </button>
                    </td>
                    <td>
                        <button name="{{ c.name }} Value Loss" labels="arima,linreg" class="graph-button"
                                href="/csv/comparison/val_loss_{{ c.ticker }}.csv">Graph
                        </button>
                        <button name="{{ c.name }} Value Loss %" labels="arima,linreg" class="graph-button"
                                href="/csv/comparison/val_loss_pct_{{ c.ticker }}.csv">(%)
                        </button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>Means</td>
                <td title="{{ means["linreg"]["test_acc"] - means["arima"]["test_acc"] }}">{{ "%.2f" | format((means["linreg"]["test_acc"] - means["arima"]["test_acc"])*100) }}%</td>
                <td title="{{ means["linreg"]["test_val_loss"]-means["arima"]["test_val_loss"] }}({{ means["linreg"]["test_val_loss_percent"]-means["arima"]["test_val_loss_percent"] }})">{{ "%.4f"|format(means["linreg"]["test_val_loss"]-means["arima"]["test_val_loss"]) }}({{ "%.2f"|format((means["linreg"]["test_val_loss_percent"]-means["arima"]["test_val_loss_percent"])*100) }}%)
                </td>
                <td><button disabled>Graph</button></td>
                <td><button disabled>Graph</button></td>
                <td><button disabled>Graph</button>
                    <button disabled>(%)</button></td>
            </tr>
            </tbody>

        </table>
    </div>

    <script>

    </script>


    <div>
        <h1>Word Cloud:</h1>
        <div class="cloud"></div>
        <div class="pcloud"></div>
        <div class="ncloud"></div>
    </div>
    <script src="/js/d3.js"></script>
    <script src="/js/d3.cloud.js"></script>
    <script>
        var neg_words = JSON.parse('{{ neg_words | tojson }}');
        var nwords = Object.keys(neg_words)
            .map(function (d, i) {
                //console.log(d);
                return {text: d, size: neg_words[d]};
            });
        var fillColor = "#ff2a28";
        var fontName = "Impact",
            cWidth = 1000,
            cHeight = 600,
            svg,
            wCloud,
            bbox,
            ctm,
            bScale,
            bWidth,
            bHeight,
            bMidX,
            bMidY,
            bDeltaX,
            bDeltaY;

        var cTemp = document.createElement('canvas'),
            ctx = cTemp.getContext('2d');
        ctx.font = "100px " + fontName;

        var fRatio = Math.min(cWidth, cHeight) / ctx.measureText(nwords[0].text).width,
            fontScale = d3.scale.linear()
                .domain([
                    d3.min(nwords, function (d) {
                        return d.size;
                    }),
                    d3.max(nwords, function (d) {
                        return d.size;
                    })
                ])
                //.range([20,120]),
                .range([20, 100 * fRatio / 2]), // tbc
            fill = d3.scale.category20();

        d3.layout.cloud()
            .size([cWidth, cHeight])
            .words(nwords)
            //.padding(2) // controls
            .rotate(function () {
                return ~~(Math.random() * 2) * 90;
            })
            .font(fontName)
            .fontSize(function (d) {
                return fontScale(d.size)
            })
            .on("end", drawN)
            .start();

        function drawN(words, bounds) {
            // move and scale cloud bounds to canvas
            // bounds = [{x0, y0}, {x1, y1}]
            bWidth = bounds[1].x - bounds[0].x;
            bHeight = bounds[1].y - bounds[0].y;
            bMidX = bounds[0].x + bWidth / 2;
            bMidY = bounds[0].y + bHeight / 2;
            bDeltaX = cWidth / 2 - bounds[0].x + bWidth / 2;
            bDeltaY = cHeight / 2 - bounds[0].y + bHeight / 2;
            bScale = bounds ? Math.min(cWidth / bWidth, cHeight / bHeight) : 1;


            // the library's bounds seem not to correspond to reality?
            // try using .getBBox() instead?

            svg = d3.select(".ncloud").append("svg")
                .attr("width", cWidth)
                .attr("height", cHeight);

            wCloud = svg.append("g")
            //.attr("transform", "translate(" + [bDeltaX, bDeltaY] + ") scale(" + 1 + ")") // nah!
                .attr("transform", "translate(" + [bWidth >> 1, bHeight >> 1] + ") scale(" + bScale + ")") // nah!
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function (d) {
                    return d.size + "px";
                })
                .style("font-family", fontName)
                .style("fill", fillColor)
                .attr("text-anchor", "middle")
                .transition()
                .duration(600)
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function (d) {
                    return d.text;
                });

            // TO DO: function to find min and max x,y of all words
            // and use it as the group's bbox
            // then do the transformation
            bbox = wCloud.node(0).getBBox();
            //ctm = wCloud.node().getCTM();


        };
    </script>
    <script>
        var pos_words = JSON.parse('{{ pos_words | tojson }}');
        var pwords = Object.keys(pos_words)
            .map(function (d, i) {
                //console.log(d);
                return {text: d, size: pos_words[d]};
            });
        var fillColor = "#54b42f";
        var fontName = "Impact",
            cWidth = 1000,
            cHeight = 600,
            svg,
            wCloud,
            bbox,
            ctm,
            bScale,
            bWidth,
            bHeight,
            bMidX,
            bMidY,
            bDeltaX,
            bDeltaY;

        var cTemp = document.createElement('canvas'),
            ctx = cTemp.getContext('2d');
        ctx.font = "100px " + fontName;

        var fRatio = Math.min(cWidth, cHeight) / ctx.measureText(pwords[0].text).width,
            fontScale = d3.scale.linear()
                .domain([
                    d3.min(pwords, function (d) {
                        return d.size;
                    }),
                    d3.max(pwords, function (d) {
                        return d.size;
                    })
                ])
                //.range([20,120]),
                .range([20, 100 * fRatio / 2]), // tbc
            fill = d3.scale.category20();

        d3.layout.cloud()
            .size([cWidth, cHeight])
            .words(pwords)
            //.padding(2) // controls
            .rotate(function () {
                return ~~(Math.random() * 2) * 90;
            })
            .font(fontName)
            .fontSize(function (d) {
                return fontScale(d.size)
            })
            .on("end", drawP)
            .start();

        function drawP(words, bounds) {
            // move and scale cloud bounds to canvas
            // bounds = [{x0, y0}, {x1, y1}]
            bWidth = bounds[1].x - bounds[0].x;
            bHeight = bounds[1].y - bounds[0].y;
            bMidX = bounds[0].x + bWidth / 2;
            bMidY = bounds[0].y + bHeight / 2;
            bDeltaX = cWidth / 2 - bounds[0].x + bWidth / 2;
            bDeltaY = cHeight / 2 - bounds[0].y + bHeight / 2;
            bScale = bounds ? Math.min(cWidth / bWidth, cHeight / bHeight) : 1;


            // the library's bounds seem not to correspond to reality?
            // try using .getBBox() instead?

            svg = d3.select(".pcloud").append("svg")
                .attr("width", cWidth)
                .attr("height", cHeight);

            wCloud = svg.append("g")
            //.attr("transform", "translate(" + [bDeltaX, bDeltaY] + ") scale(" + 1 + ")") // nah!
                .attr("transform", "translate(" + [bWidth >> 1, bHeight >> 1] + ") scale(" + bScale + ")") // nah!
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function (d) {
                    return d.size + "px";
                })
                .style("font-family", fontName)
                .style("fill", fillColor)
                .attr("text-anchor", "middle")
                .transition()
                .duration(600)
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function (d) {
                    return d.text;
                });

            // TO DO: function to find min and max x,y of all words
            // and use it as the group's bbox
            // then do the transformation
            bbox = wCloud.node(0).getBBox();
            //ctm = wCloud.node().getCTM();


        };
    </script>
    <script>
        var all_words = JSON.parse('{{ all_words | tojson }}');


        var words = Object.keys(all_words)
            .map(function (d, i) {
                //console.log(d);
                color = all_words[d] > 0 ? "#54b42f" : "#ff2a28";

                return {text: d, size: all_words[d], color: color};
            });
        var fillColor = "#000000";
        var fontName = "Impact",
            cWidth = 1000,
            cHeight = 600,
            svg,
            wCloud,
            bbox,
            ctm,
            bScale,
            bWidth,
            bHeight,
            bMidX,
            bMidY,
            bDeltaX,
            bDeltaY;

        var cTemp = document.createElement('canvas'),
            ctx = cTemp.getContext('2d');
        ctx.font = "100px " + fontName;

        var fRatio = Math.min(cWidth, cHeight) / ctx.measureText(words[0].text).width,
            fontScale = d3.scale.linear()
                .domain([
                    d3.min(words, function (d) {
                        return d.size;
                    }),
                    d3.max(words, function (d) {
                        return d.size;
                    })
                ])
                //.range([20,120]),
                .range([20, 100 * fRatio / 2]), // tbc
            fill = d3.scale.category20();

        d3.layout.cloud()
            .size([cWidth, cHeight])
            .words(words)
            //.padding(2) // controls
            .rotate(function () {
                return ~~(Math.random() * 2) * 90;
            })
            .font(fontName)
            .fontSize(function (d) {
                return fontScale(d.size)
            })
            .on("end", draw)
            .start();

        function draw(words, bounds) {
            // move and scale cloud bounds to canvas
            // bounds = [{x0, y0}, {x1, y1}]
            bWidth = bounds[1].x - bounds[0].x;
            bHeight = bounds[1].y - bounds[0].y;
            bMidX = bounds[0].x + bWidth / 2;
            bMidY = bounds[0].y + bHeight / 2;
            bDeltaX = cWidth / 2 - bounds[0].x + bWidth / 2;
            bDeltaY = cHeight / 2 - bounds[0].y + bHeight / 2;
            bScale = bounds ? Math.min(cWidth / bWidth, cHeight / bHeight) : 1;


            // the library's bounds seem not to correspond to reality?
            // try using .getBBox() instead?

            svg = d3.select(".cloud").append("svg")
                .attr("width", cWidth)
                .attr("height", cHeight);

            wCloud = svg.append("g")
            //.attr("transform", "translate(" + [bDeltaX, bDeltaY] + ") scale(" + 1 + ")") // nah!
                .attr("transform", "translate(" + [bWidth >> 1, bHeight >> 1] + ") scale(" + bScale + ")") // nah!
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function (d) {
                    return d.size + "px";
                })
                .style("font-family", fontName)
                .style("fill", function (d, i) {
                    return d["color"]
                })
                .attr("text-anchor", "middle")
                .transition()
                .duration(600)
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function (d) {
                    return d.text;
                });

            // TO DO: function to find min and max x,y of all words
            // and use it as the group's bbox
            // then do the transformation
            bbox = wCloud.node(0).getBBox();
            //ctm = wCloud.node().getCTM();


        };

        function sortByFrequency(arr) {
            var f = {};
            arr.forEach(function (i) {
                f[i] = 0;
            });
            var u = arr.filter(function (i) {
                return ++f[i] == 1;
            });
            return u.sort(function (a, b) {
                return f[b] - f[a];
            });
        }</script>
{% endblock %}