*/5 4-18 * * 1-5 cd /usr/src/app/python &&  /usr/local/bin/python ./update_prices.py >> /var/log/cron.log
*/2 * * * 1-5 cd /usr/src/app/python &&  /usr/local/bin/python ./update_news.py >> /var/log/cron.log
* * * * * cd /usr/src/app/python/history_parsing &&  /usr/local/bin/python ./reparse_history.py >> /var/log/cron.log
