0 19 * * 1-5 cd /usr/src/app/python/realtime_parsing &&  /usr/local/bin/python ./update_prices.py >> /var/log/cron.log
0 */6 * * 1-5 cd /usr/src/app/python/realtime_parsing &&  /usr/local/bin/python ./update_actual.py >> /var/log/cron.log
5 19 * * 1-5 cd /usr/src/app/python/realtime_parsing &&  /usr/local/bin/python ./predict.py >> /var/log/cron.log
*/2 * * * 1-5 cd /usr/src/app/python/realtime_parsing &&  /usr/local/bin/python ./update_news.py >> /var/log/cron.log
